body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  color: hsl(220, 13%, 13%);
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
